body{
    background-color: #8e8e8e !important;
}
.search{
    text-align: center;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

a{
    color: rgb(78, 74, 18) !important;
}

.btn{
    background-color: white !important;
}

.border{
    display:none;
    text-align: center;
}
.description{
    background-color: #373737;
    color: whitesmoke;
}